<div class="all">

<!-- ----------------left---------------------------- -->
  <div class= "left">
    <div class= "left-top">
      <div class= "left-top__name">
        ここにuser名が入るよ
      </div>
      <ul class= "left-top__menu">
        <li class= "left-top__menu__edit-user"></li>
          <a href= "/users/162/edit">
            <i class= "fab fa-twitter">⭕️</i>
          </a>
        <li class= "left-top__menu__new-group"></li>
          <a href= "/users/162/edit">
            <i class= "fab fa-twitter">❌</i>
          </a>
      </ul>
    </div>

    <div class="left-bottom">
      <div class= "left-bottom__groups">
        ここにgroup名が入るよ
        <div class= "left-bottom__groups__messages">
          ここにメッセージが入るよ
        </div>
      </div>
    </div>
  </div>

<!-- ----------------right--------------------------- -->
  <div class= "right">
    <div class= "right-top">
      <div class= "right-top__groups">
        <div class= "right-top__groups__group">
        ここにgroup名が入るよ
        </div>
        <div class= "right-top__groups__name">
        ここに名前が入るよ
        </div>
      </div>
    </div>

    <div class= "right-middle">
      <div class= "right-middle__messages">
        <div class= "right-middle__messages__name">
          user名が入るよ
        </div>
        <p class= "right-middle__messages__message">
          messageが入るよ
        </p>
      </div>
    </div>

    <div class= "right-bottom">
      <div class= "new_message">
        <div class= "input-box">type a message</div>
        <div class= "submit">send</div>
      </div>
    </div>

  </div>


</div>
