@import "./reset";

.all{
  height: 100vh;
  width: 100%;
}

// -----------------------left--------------------------
.left{
  height: 100%;
  width: 300px;
  background-color: #2f3e51;
  float: left;

  .left-top{
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    .left-top__name{
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      padding: 38px 0;
      float: left;
    }
    .left-top__menu{
      margin-left: 4.8px;
      padding: 38px 0;
      float: right;
      .left-top__edit-user{
        float: left;
      }
      .left-top__new-group{
        float: left;
      }

    }
  }
  .left-bottom{
    background-color: #2f3e51;
    padding: 0 20px;
    .left-bottom__groups{
      font-size: 15px;
      color: #FFFFFF;
      font-weight: bold;
      padding-top: 20px;
      .left-bottom__groups__messages{
        font-size: 11px;
        color: #FFFFFF;
        font-weight: bold;
        padding-top: 5px;
      }
    }
  }
}



// -----------------------right--------------------------
.right{
  float: left;
  height: 100%;
  width: calc( 100vw - 300px );

  .right-top{
    height: 100px;
    padding: 0 40px;
    border-bottom: medium solid #eeeeee;
    .right-top__groups{
      .right-top__groups__group{
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
        padding-bottom: 15px;
      }
      .right-top__groups__name{
        font-size: 12px;
        color: #999999;
      }
    }
  }

  .right-middle{
    padding: 46px 40px;
    height: calc( 100% - 190px );
    background-color: #fafafa;
    .right-middle__messages{
      padding-bottom: 40px;
      .right-middle__messages__name{
        font-size: 16px;
        font-weight: bold;
        color: #434a54;
        margin-bottom: 10px;
      }
      .right-middle__messages__message{
        font-size: 14px;
        color: #434a54;
        margin-bottom: 10px;
      }
    }
  }

  .right-bottom{
    height: 90px;
    width: calc( 100vw - 380px );
    padding: 0 40px;
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    right: 0;
    .new_message{
      height: 50px;
      width: 100%;
      background-color: white;
      margin: 20px 0;
      position: relative;
      .input-box{
        height: 50px;
        margin: 0 40px 0 10px;
        float: left;
        padding: 10px 0;
      }
      .submit{
        display: table-cell;
        margin-left: 15px;
        text-align: center;
        background-color: #38aef0;
        color: white;
        width: 100px;
        height: 30px;
        // vertical-align: middle;
        padding: 10px 0;
        position: absolute;
        right: 0;


      }
    }
  }

}






