// -----------------------left--------------------------
.chat-side{
  position: relative;
  height: 100%;
  width: 300px;
  background-color: #2f3e51;
  float: left;

  .side-header{
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    &__box{
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      padding: 38px 0;
      float: left;
    }
    &__menu{
      margin-left: 4.8px;
      padding: 38px 0;
      float: right;

      &__edit-user{
        float: left;
        a{
          i{
            font-size: 1.2em;
            color: white;
          }
        }
      }
      &__new-group{
        float: left;
        color: white;
      }

    }
  }
  .groups{
    padding-top: 20px;
    .group{
      background-color: #2f3e51;
      padding: 0 20px;
      &__group-name{
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 40px;
        &__latest-message{
          font-size: 12px;
          color: #FFFFFF;
          padding-top: 5px;
        }
      }
    }
  }
}

